.events_container{
  width: 90%;
  /* height: 40px; */
  margin-left:auto;
  margin-right: auto;
  margin-top: 5vh;
  /* background: yellow; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.events_row{
  width: 100%;
  margin-top: 20px;
  /* background: cyan; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.event{
  cursor: pointer;
  width: 24%;
  height: 50vh;
  /* background: red; */
  background: white;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 70% 30%;
}
.event_img{
  width: 100%;
  /* background: purple; */
}
.event_info{
  width: 90%;
  margin-right: auto;
  margin-right: auto;
  text-align: right;
  /* background: yellow; */

}
.img_fill_div{
  width: 100%;
  height: 100%;
}