ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003366;
  display: flex;
  align-items: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover:not(.active):not(#logoLink) {
  text-decoration: underline;
}
.active {
  margin-right: 20px;
  background-color: #0095ff;
  border: 1px solid #07c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 #66bfff;
}

#logoLink {
  padding: 3px;
  margin: 0;
  margin-left: 50px;
}

#logoImage {
  width: 43px;
  height: 43px;
}

#searchBar {
  margin-left: 300px;
}

.rightElement {
  margin-right: 20px;
  margin-left: auto;
}