@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 80%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #666;
  border-radius: 15px;
  outline: none;
  color: #9DBFAF;
  display: grid;
  background: #9DBFAF;
  overflow: hidden;
  grid-template-columns: 10% 90%;
}

.search_logo{
  height: 100%;
  /* width: 100%; */
  /* background: cyan; */
  color: black;
  /* font-size: 40px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search_input{
  /* height: 100%; */
  border: 0px;
  direction: rtl;
  background: inherit;

}

.search_input:focus{
  color: red; 
  /* color: rgb(29, 28, 28); */
}
